---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos de moi ! | Sarrazin Marine" description="A propos de SARRAZIN Marine">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos de moi"
				tagline="Découvrez mon parcours, mes compétences et ma façon de penser!"
			>
				<img
					width="1553"
					height="873"
					src="/portfolio_marine/assets/at-work.jpg"
					alt="Sarrazin Marine at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Qui suis-je</h2>
				<div class="content">
					<p>
						Je m'appelle Marine, j'ai 24 ans et je suis née en Picardie. J'aime profondémment mes animaux, prendre soin de moi en faisant du sport, et j'ai aussi une autre passion (que mes amis n'ont jamais compris)... celle de lire les actualités sur les avancées en psychologie, médecine et technologies.
						Je prends du plaisir à apprendre constamment, et j'aspire à devenir Psychologue en plus de mon master. Je pense qu'avoir ces deux formations fera de moi une excellente praticienne, et doctorante (oui l’un de mes objectifs serait d’aboutir à une thèse). Vous l'aurez compris, je suis très ambitieuse, et qui sait, peut-être un jour je serais enseignante-chercheuse...
					</p>oui
				</div>
			</section>
			<section>
				<h2 class="section-title">Pourquoi ce site ?</h2>
				<div class="content">
					<p>
						Que ce soit à visée universitaire ou professionnelle, on me demande souvent une lettre de motivation. Sauf que celle-ci est, selon moi, trop réductrice. C’est pourquoi, j’ai décidé d’innover et de créer un portfolio plus authentique et plus complet, qui revêt notamment mes diverses expériences.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formations</h2>
				<div class="content">
					<p>Licence de Psychologie - Reims - 2018-2021</p>
					<p>Master Ergonomie socio-cognitive des systèmes intelligents - Jacob-Bellecombette - 2021-2023</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certificiations</h2>
				<div class="content">
					<p>Risques psychosociaux : prévenir le burn-out - 2024</p>
					<p>Les troubles anxieux - 2024</p>
					<p>Troubles de l'attachement et addiction - 2021</p>
					<p>PIX - 2019</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
