---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Conception d'études</h2>
		<p>J'aime programmer, élaborer, diriger et concevoir des études diverses, j'adore suivre les projets jusqu'à la production.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Communication pluridisciplinaire</h2>
		<p>Travailler en équipe, quelque soit le corps de métier de mon collaborateur; conseiller, échanger et partager mes connaissances et compétences sont des valeurs qui me tiennent très à coeur.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Vision 360°</h2>
		<p>Diplômée d'un master enrichissant dans les domaines des sciences cognitives et sociales, je suis flexible dans ma manière de travailler, je m'adapte facilement à mon environnement et je suis investie dans tout ce que j'entreprends.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
